{% load static %}
<!-- candidate/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}National Party (NP){% endblock %}</title>
    <!-- Include CSS and JavaScript libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'styles.css' %}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">NP Candidate</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'candidate_profile' %}">
                    Candidate Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
        </ul>
        {% if user.is_authenticated %}
            <a class="btn btn-primary mx-2" href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a class="btn btn-primary mx-2" href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
</nav>

<div class="container mt-4">
    {% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to our NP Candidate Website!</h1>
        <p class="lead">We are dedicated to providing you with the latest information about our candidate and
            facilitating communication with us.</p>
        <hr class="my-4">
        <p>Explore the navigation menu above to learn more about our candidate and how to get in touch with us.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'candidate_profile' %}" role="button">Learn more</a>
    </div>
    {% endblock %}
</div>

<!-- Include JavaScript libraries -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

